<div>
    <div class="row">
        <div>
            <div>
                Search box :
                <input type="text" ng-model="ingredientsListCtrl.searchText">
                &nbsp;Restricted food :
                <input type="checkbox" ng-model="ingredientsListCtrl.restrictedFilter">
            </div>
            <br>
            <h1>All Ingredients</h1>
            <hr class="ng-scope">
                <div class="row" style="margin-top: -20px">
                    <div class="col-md-12"> 
                        
                        <div class="panel">
                            <div>
                                <!--/stories-->
                                <div class="row">    
                                    <br>
                                    <div ng-repeat="ingredient in ingredientsListCtrl.ingredientsDisplay | filter : ingredientsListCtrl.searchText | FilterIngredient:ingredientsListCtrl.restrictedFilter:ingredientsListCtrl.restrictedFood">
                                        <div class="col-md-2 col-sm-3 text-center">
                                            <a class="story-title" ng-href="#/ingredients/{{ingredient._id}}">
                                                <img class="img-circle" ng-src="{{ingredient.imgUrl}}" style="width:100px;height:100px;margin-top: 5px" alt="ingredient"/>
                                            </a>
                                        </div>
                                        
                                        <div class="col-md-10 col-sm-9" style="padding-left: 0;">
                                            <h3>{{ ingredient.name }}</h3>
                                            <div class="row">
                                                <div class="col-xs-9">
                                                    <h4><span class="label label-default">{{ ingredient.description }}</span></h4><h4>
<!--                                                        <small style="font-family:courier,'new courier';" class="text-muted">2 hours ago  • <a href="#" class="text-muted">Read More</a></small>-->
                                                    </h4></div>
                                                <div class="col-xs-3"></div>
                                            </div>
                                            <br><br>
                                        </div>
                                        <hr>   
                                    </div>
                                </div> 
                                <!--/stories--> 
                            </div>
                        </div>   
                    </div><!--/col-12-->
                </div>
            <!--            <div ng-repeat="ingredient in ingredientsListCtrl.ingredientsDisplay | filter : ingredientsListCtrl.searchText | FilterIngredient:ingredientsListCtrl.restrictedFilter:ingredientsListCtrl.restrictedFood">
                            <div class="container-fluid">
                                <div class="media">
                                    <a class="pull-left" ng-href="#/ingredients/{{ingredient._id}}">
                                        <img class="media-object ingredient-icon" ng-src="{{ingredient.imgUrl}}" width="120px" height="120px"
                                             alt="ingredient">
                                    </a>
                                        
                                    <div class="media-body">
                                        <h4 class="media-heading">{{ ingredient.name }}</h4>
                                        {{ ingredient.description }}
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>-->
            <div class="navigation-bar">
                <pagination total-items="ingredientsListCtrl.ingredients.length" ng-model="ingredientsListCtrl.currentPage"
                            max-size="ingredientsListCtrl.maxSize" class="pagination-sm" boundary-links="true"
                            ng-change="ingredientsListCtrl.updateIngredients()"></pagination>
            </div>
        </div>
    </div>
</div>
