<p>Name : {{adminMUCtrl.user.name}}</p>
<p>Email : {{adminMUCtrl.user.email}}</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-success" ng-bind="adminMUCtrl.showSuccess" ng-show="adminMUCtrl.showSuccess"></div>
            <form ng-submit="adminMUCtrl.submit()">
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" class="form-control" ng-model="adminMUCtrl.user._id">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="adminMUCtrl.user.name">
                </div>
                <div class="form-group">
                    <label>email</label>
                    <input type="email" class="form-control" ng-model="adminMUCtrl.user.email">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <select class="form-control" ng-model="adminMUCtrl.user.role" ng-options="r for r in adminMUCtrl.role"></select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>